.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid black;
  padding: 10px;
}

.header{
  padding: 15px;
}

body{
  padding: 15px;
  background-color: rgb(26, 230, 36);
}